In [1]:
import pandas as pd

In [3]:
jan_2023 = pd.read_csv("C:/Users/sarah/OneDrive/Documents/Homework/tableau_project/data/202301-citibike-tripdata.csv")
apr_2023 = pd.read_csv("C:/Users/sarah/OneDrive/Documents/Homework/tableau_project/data/202304-citibike-tripdata.csv")

jan_2023.head()

C:\Users\sarah\AppData\Local\Temp\ipykernel_19588\977228784.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  jan_2023 = pd.read_csv("C:/Users/sarah/OneDrive/Documents/Homework/tableau_project/data/202301-citibike-tripdata.csv")
C:\Users\sarah\AppData\Local\Temp\ipykernel_19588\977228784.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  apr_2023 = pd.read_csv("C:/Users/sarah/OneDrive/Documents/Homework/tableau_project/data/202304-citibike-tripdata.csv")

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,4A86C1475DCCADA0,classic_bike,2023-01-26 10:53:44,2023-01-26 11:05:17,E 53 St & Madison Ave,6659.03,Columbus Ave & W 72 St,7175.05,40.759724,-73.973664,40.777057,-73.978985,member
1,AE02E1FF7E264874,classic_bike,2023-01-04 11:51:54,2023-01-04 12:07:09,Halsey St & Ralph Ave,4334.02,Clinton Ave & Myrtle Ave,4651.02,40.684970,-73.922755,40.693261,-73.968896,casual
2,D3F9A2A71AD244C6,classic_bike,2023-01-04 17:26:48,2023-01-04 17:43:29,Bank St & Hudson St,5922.08,W 52 St & 11 Ave,6926.01,40.736566,-74.006092,40.767272,-73.993929,casual
3,3D48C6F33AFEF329,classic_bike,2023-01-04 08:31:11,2023-01-04 08:42:12,E 53 St & Madison Ave,6659.03,W 45 St & 8 Ave,6676.02,40.759711,-73.974023,40.759291,-73.988597,member
4,4865926C3D97BA01,electric_bike,2023-01-03 22:15:34,2023-01-03 22:30:35,Frederick Douglass Blvd & W 112 St,7631.23,Central Park S & 6 Ave,6876.04,40.801694,-73.957145,40.765909,-73.976342,casual

In [4]:
def clean_files(df):
    # Convert "started_at" column to datetime format
    df['started_at'] = pd.to_datetime(df['started_at'])

    # Extract date and time components into separate columns
    df['start_date'] = df['started_at'].dt.date
    df['start_time'] = df['started_at'].dt.time

    # Drop the original "started_at" column if you don't need it anymore
    df.drop(columns=['started_at'], inplace=True)

    df['ended_at'] = pd.to_datetime(df['ended_at'])

    # Extract date and time components into separate columns
    df['end_date'] = df['ended_at'].dt.date
    df['end_time'] = df['ended_at'].dt.time

    # Drop the original "ended_at" column if you don't need it anymore
    df.drop(columns=['ended_at'], inplace=True)

    # Convert "start_time" and "end_time" columns to datetime format
    df['start_time'] = pd.to_datetime(df['start_time'], format='%H:%M:%S')
    df['end_time'] = pd.to_datetime(df['end_time'], format='%H:%M:%S')

    # Calculate the duration of the trip and store it in a new column
    df['trip_duration'] = df['end_time'] - df['start_time']

    # extract the duration in seconds, you can do the following:
    df['trip_duration_seconds'] = df['trip_duration'].dt.total_seconds()

    # extract the duration in minutes, you can do the following:
    df['trip_duration_minutes'] = df['trip_duration_seconds'] / 60

    #drop extra colummns
    df = df.drop(columns=["trip_duration", "trip_duration_seconds"])

    return df

In [6]:
combined_data = pd.concat([jan_2023, apr_2023])

combined_data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,4A86C1475DCCADA0,classic_bike,2023-01-26 10:53:44,2023-01-26 11:05:17,E 53 St & Madison Ave,6659.03,Columbus Ave & W 72 St,7175.05,40.759724,-73.973664,40.777057,-73.978985,member
1,AE02E1FF7E264874,classic_bike,2023-01-04 11:51:54,2023-01-04 12:07:09,Halsey St & Ralph Ave,4334.02,Clinton Ave & Myrtle Ave,4651.02,40.684970,-73.922755,40.693261,-73.968896,casual
2,D3F9A2A71AD244C6,classic_bike,2023-01-04 17:26:48,2023-01-04 17:43:29,Bank St & Hudson St,5922.08,W 52 St & 11 Ave,6926.01,40.736566,-74.006092,40.767272,-73.993929,casual
3,3D48C6F33AFEF329,classic_bike,2023-01-04 08:31:11,2023-01-04 08:42:12,E 53 St & Madison Ave,6659.03,W 45 St & 8 Ave,6676.02,40.759711,-73.974023,40.759291,-73.988597,member
4,4865926C3D97BA01,electric_bike,2023-01-03 22:15:34,2023-01-03 22:30:35,Frederick Douglass Blvd & W 112 St,7631.23,Central Park S & 6 Ave,6876.04,40.801694,-73.957145,40.765909,-73.976342,casual

In [7]:
combined_data_df = clean_files(combined_data)
combined_data_df.head()

,ride_id,rideable_type,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_date,start_time,end_date,end_time,trip_duration_minutes
0,4A86C1475DCCADA0,classic_bike,E 53 St & Madison Ave,6659.03,Columbus Ave & W 72 St,7175.05,40.759724,-73.973664,40.777057,-73.978985,member,2023-01-26,1900-01-01 10:53:44,2023-01-26,1900-01-01 11:05:17,11.550000
1,AE02E1FF7E264874,classic_bike,Halsey St & Ralph Ave,4334.02,Clinton Ave & Myrtle Ave,4651.02,40.684970,-73.922755,40.693261,-73.968896,casual,2023-01-04,1900-01-01 11:51:54,2023-01-04,1900-01-01 12:07:09,15.250000
2,D3F9A2A71AD244C6,classic_bike,Bank St & Hudson St,5922.08,W 52 St & 11 Ave,6926.01,40.736566,-74.006092,40.767272,-73.993929,casual,2023-01-04,1900-01-01 17:26:48,2023-01-04,1900-01-01 17:43:29,16.683333
3,3D48C6F33AFEF329,classic_bike,E 53 St & Madison Ave,6659.03,W 45 St & 8 Ave,6676.02,40.759711,-73.974023,40.759291,-73.988597,member,2023-01-04,1900-01-01 08:31:11,2023-01-04,1900-01-01 08:42:12,11.016667
4,4865926C3D97BA01,electric_bike,Frederick Douglass Blvd & W 112 St,7631.23,Central Park S & 6 Ave,6876.04,40.801694,-73.957145,40.765909,-73.976342,casual,2023-01-03,1900-01-01 22:15:34,2023-01-03,1900-01-01 22:30:35,15.016667

In [10]:

combined_data_df.to_csv("C:/Users/sarah/OneDrive/Documents/Homework/tableau_project/data/combined_data_jan_april_2023.csv", index=False)